<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ggyuel.ggyuup.ranking.mapper.RankingMapper">
    <insert id="insertScores"></insert>
    <update id="refreshScores"></update>
    <delete id="deleteScores"></delete>

    <select id="selectEwhaRank" resultType="ggyuel.ggyuup.ranking.dto.RankingRespDTO"></select>
    <select id="selectBasic" resultType="java.lang.Float"></select>
    <select id="selectRare" resultType="java.lang.Float"></select>

</mapper>